[core]
  # install neovim first
  editor = nvim
[user]
  email = a.abilkhan024@gmail.com
  name = Amanali Abilkhan
[alias]
  pb = !git push origin $(git symbolic-ref --short HEAD)

  laa = "!git log --all --decorate=short --oneline --pretty='format:%d |  %ar |  %an |  %s' --date=relative"

  lme = "!git for-each-ref --sort=-committerdate refs/heads --format='%(HEAD)%(refname:short)\t| %(committerdate:relative)\t| %(authorname)\t| %(contents:subject)' | grep \"$(git config user.name)\" | less"

  la = "!git for-each-ref --sort=-committerdate refs/heads --format='%(HEAD)%(refname:short)\t| %(committerdate:relative)\t| %(authorname)\t| %(contents:subject)' | less"

  lbr = "!f() { \
    if [ \"$1\" = \"\" ]; then \
    git reset --hard origin/$(git symbolic-ref --short HEAD) ; \
    else \
    git reset --hard origin/\"$1\" ; \
    fi \
    }; f"

  lbf = "!f() { \
    if [ \"$1\" = \"\" ]; then \
    git pull origin $(git symbolic-ref --short HEAD) --no-ff; \
    else \
    git pull origin \"$1\" --no-ff; \
    fi \
    }; f"

  lb = "!f() { \
    if [ \"$1\" = \"\" ]; then \
    git pull origin $(git symbolic-ref --short HEAD); \
    else \
    git pull origin \"$1\"; \
    fi \
    }; f"

  c = checkout

  cm = commit

  cp = cherry-pick

  l = log
